body{
	background: #eeeeee;
}
.cj_herder{
	width: 16rem;
	height: 2rem;
	background: #f75831;
}
.cj_herder img{
	width: 0.375rem;
	height: 0.65rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.7rem;
 }
.cj_herder h1{
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
	line-height: 2rem;
}
.cont_gjn{
	width: 16rem;
	height: 5.5rem;
	background: #fff;
	box-shadow: 0px 2px 3px  #aaaaaa;
}
.cont_gjn .cont_gjn_t{
	width: 16rem;
	height: 3.5rem;
	border-bottom: 1px solid #eeeeee;
}
.cont_gjn .cont_gjn_t h2{
	float: left;
	line-height: 3.5rem;
	font-size: 0.6rem;
	color: #444;
	margin-left: 0.5rem;
}
.cont_gjn .cont_gjn_t img{
	float: right;
	width: 2.175rem;
	height: 2.17rem;
	margin-top: 0.7rem;
	margin-right: 0.5rem;
}
.cont_gjn_b{
	width: 16rem;
	height: 2rem;
}
.cont_gjn_b h3{
	font-size: 0.6rem;
	color: #444;
	float: left;
	margin-left: 0.5rem;
	line-height: 2rem;
}
.cont_gjn_b p{
	float: right;
	color: #666666;
	font-size:0.6rem;
	line-height: 2rem;
	margin-right: 0.5rem;

}
.cont_gjn_b p img{
	width: 0.7rem;
	height: 0.7rem;
	margin-left: 0.4rem;
	position: relative;
	top: 0.1rem;
}
.cont1_gjn{
	width: 16rem;
	height: 6.05rem;
	background: #fff;
	box-shadow: 1px 1px 3px  #aaaaaa;
	margin-top: 0.6rem;
}
.cont1_gjn .cont1_gjn_t{
	width: 16rem;
	height: 2rem;
	border-bottom: 1px solid #eeeeee;
}

.cont1_gjn .cont1_gjn_t h4{
	font-size: 0.6rem;
	color: #444;
	float: left;
	margin-left: 0.5rem;
	line-height: 2rem;
}
.cont1_gjn .cont1_gjn_t p{
	float: right;
	color: #666666;
	font-size:0.6rem;
	line-height: 2rem;
	margin-right: 0.5rem;

}