body{
	background: #f2f6f9;
}
.cj_herder{
	width: 16rem;
	height: 1.5rem;
	background: #515c72;
}

.cj_herder img{
	width: 0.375rem;
	height: 0.65rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.425rem;
 }
.cj_herder h1{
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
	line-height: 1.5rem;
}


.aqrz1{
	width: 16rem;
	height: 1.5rem;
}
.aqrz1 h1{
	font-size: 0.6rem;
	font-weight: bold;
	color: #000;
	margin-left: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
}
.aqrz2{
	width: 16rem;
	height: 1.5rem;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #fff;
}
.aqrz2 input{
	width: 14.5rem;
	height: 1.5rem;
	margin-left: 1.5rem;
	border: none;
	font-size: 0.55rem;
}
.aqrz3{
	width: 16rem;
	height: 2rem;
}
.aqrz3 h6{
	/* width: 13rem; */
	margin-top: 0.8rem;
	font-size: 0.4rem;
	color: #aaaaaa;
	margin-left: 1.5rem;
}
button{
	width: 15rem;
	height: 1.35rem;
	margin-left: 0.5rem;
	background: #515c72;
	border: none;
	font-size: 0.55rem;
	color: #fff;
}
.dw{
	width: 16rem;
	height: 4.775rem;
	text-align: center;
}
.dw img{
	width: 12.775rem;
	height: 4.775rem;
	margin-top: 1.5rem;
}
.db_gjn{
	width: 16rem;
	height: 1.4rem;
	position: fixed;
	bottom:0.5rem;
}
.db_gjn .db_gjn1{
/*	width: 7rem;
	height: 0.6rem;
	margin: 0 auto;*/
	margin-left: 4.5rem;
}
.db_gjn .db_gjn1 input{
	width: 0.6rem;
	height: 0.6rem;
	vertical-align: middle;
}
.db_gjn .db_gjn1 a{
	font-size: 0.55rem;
	color: #f75731;
	    vertical-align: middle;
}

/*绑定银行卡*/
.h21_cl{
	height: 2.1rem;
}
.h21_cl h1{
	line-height: 2.4rem;
}
.all_bank img{
	width: 16rem;
	height: 17.2rem;
	margin-top: 1.25rem;
}

/*input_check*/
#input_ck{display: none;}
.label_ck>img{
	width: 0.7rem;
	height: 0.7rem;
	    vertical-align: middle;
	        border: 2px solid #eeeeee;
}
.aqrz{
	width: 16rem;
	height: 1.525rem;
	overflow: hidden;
	background: url(../images/tiaowen2.png) no-repeat;
	background-size: auto 1.525rem;
	background-position: 0 0;
	float: left;
}
.aqrz>img{
	width: 7rem;
	height: 0.75rem;
	display: block;
	margin: auto;
	margin-top: 0.4rem;
}
	.aqrz{
/*		animation: tiaowen 6.5s;
		animation-timing-function:linear*/
	}
	@keyframes tiaowen{
		from{background-position: 0 0;}
		to{background-position: -16rem 0;}
	}
	@-webkit-keyframes tiaowen{
		from{background-position: 0 0;}
		to{background-position: -16rem 0;}
	}
	@-moz-keyframes tiaowen{
		from{background-position: 0 0;}
		to{background-position: -16rem 0;}
	}
	@-ms-keyframes tiaowen{
		from{background-position: 0 0;}
		to{background-position: -16rem 0;}
	}
